body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url('fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
}

form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

textarea::placeholder {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #aaa;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#notesContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.note {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note h2 {
    color: #333;
    margin-top: 0;
    font-size: 20px;
}

.note p {
    color: #666;
    margin: 5px 0;
    font-size: 14px;
}

.note p strong {
    color: #333;
}